.delivery__point {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #F5F5F5;

  .delivery__point__row {
    display: flex;
    align-items: center;
    gap: 10px;

    .delivery__point__row__label {
      width: 150px;
      opacity: 0.5;
    }

    .delivery__point__row__value {
      font-weight: 600;
    }
  }
}
