@import "src/app/styles";

.main {
  width: 100%;

  .catalog__preview {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .catalog__preview__content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 16px;
        font-weight: 500;
      }

      ol {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .list__item__title {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .error__notification {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: #ff9494;
        }

        .catalog__item {
          width: 100%;
          display: flex;
          padding: 10px;
          border-radius: 10px;
          background-color: $global-color-light-bg-secondary-white;
        }

        .delete__icon {
          color: #1677ff;
          transition: .1s linear;

          &:hover {
            color: #69b1ff;
          }
        }
      }
    }
  }
}
