.registration {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: -100px;

  form {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      color: var(--primary-font-color);
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      text-transform: capitalize;
    }

    .form__row {
      width: 100%;
      display: flex;
      gap: 15px;

      > div {
        width: 100%;
      }
    }

    label {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;

      color: var(--secondary-font-color);
      padding: 5px 15px;
      border: 2px solid var(--secondary-bg-color);
      background-color: var(--secondary-bg-color);
      border-radius: 20px;
      transition: .2s linear;

      input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: var(--primary-font-color);

        &:focus {
          outline: none;
        }

        &::placeholder {
          text-transform: capitalize;
        }
      }

      &:focus-within {
        border: 2px solid var(--link-color);
      }
    }

    .phone__input__row {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-transform: capitalize;
      padding: 0;

      .phone__input__container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: var(--secondary-bg-color);
        transition: .2s linear;

        .phone__input_select {
          text-align: center;

          > div {
            border: none;
            background-color: transparent;
            display: flex;

            > span {
              font-style: normal;
              font-weight: 400;
              font-size: 13.3333px;
              color: var(--primary-font-color);
            }
          }
        }

        .phone__input__container__divider {
          width: 1px;
          height: 16px;
          background-color: var(--primary-font-color);
          margin-right: 10px;
          color: var(--primary-font-color);
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--primary-font-color);
          background-color: transparent;
          transition: .2s linear;

          &::placeholder {
            color: var(--secondary-font-color);
          }
        }
      }
    }

    .divider {
      display: flex;
      align-items: center;
      justify-content: space-between;

      hr {
        width: 45%;
        height: 1px;
        background-color: var(--secondary-bg-color);
        border-radius: 20px;
        opacity: .5;
      }

      span {
        color: var(--secondary-font-color);
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding: 0 15px;
      }
    }

    button {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      padding: 6px 10px;
      border: 1px solid var(--link-color);
      border-radius: 20px;
      background-color: var(--link-color);
      cursor: pointer;
      transition: .1s linear;

      &:last-child {
        background-color: #ff6e30;
        border: 1px solid #ff6e30;
      }

      span {
        color: var(--accent-font-color);
        text-transform: capitalize;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--primary-bg-color);
          color: var(--primary-font-color);
        }
      }

      &:active {
        outline: none;
        opacity: .7;
      }

      .btn__loading {
        color: var(--primary-bg-color);
      }
    }

    .error__message {
      color: #ee1616;
      font-size: 14px;
      margin-top: 5px;
      padding: 0 15px;
      animation: appear .3s linear;
      transition: .1s linear;

      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .registration {

    form {
      width: 300px;

      h1 {

      }

      .form__row {
        flex-direction: column;
      }

      label {

        input {

        }
      }

      .phone__input__row {

        .phone__input__container {

        }
      }

      .divider {

        hr {

        }

        span {

        }
      }

      button {

        span {

        }

        .btn__loading {

        }
      }

      .error__message {

      }
    }
  }
}
