.main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-top: 120px;
  }
}
