.block {
  width: 100%;
  padding: 16px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

  .block__title {
    width: 100%;

    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #212121;

    margin-bottom: 24px;
  }

  .block__column {
    width: 100%;
    height: 312px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .block__row {
      width: 100%;
      height: calc((100% - 24px) / 3);
      display: flex;
      flex-direction: row;
      gap: 9px;

      &:last-child {
        .block__grid__item {
          &:first-child {
            .block__grid__item__img {
              width: 80%;
            }
          }
        }
      }

      &:nth-child(2) {
        .block__grid__item {
          &:first-child {
            .block__grid__item__img {
              width: 85%;
            }
          }
        }
      }

      .block__grid__item {
        position: relative;
        width: calc((100% - 18px) / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .block__grid__item__index {
          position: absolute;
          top: 0;
          left: 0;

          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.02em;
          text-align: left;
          color: #A0A0A0;
        }

        .block__grid__item__img {
          width: 50%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .block {

    .block__title {
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #212121;
    }

    .block__column {

      .block__row {

        &:last-child {
          .block__grid__item {
            &:first-child {
              .block__grid__item__img {
                width: 120%;
              }
            }
          }
        }

        &:nth-child(2) {
          .block__grid__item {
            &:first-child {
              .block__grid__item__img {
                width: 130%;
              }
            }
          }
        }

        .block__grid__item {

          .block__grid__item__index {

          }

          .block__grid__item__img {
            width: 80%;
          }
        }
      }
    }
  }
}
