.main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding-top: 120px;
  }
}

@media (max-width: 1200px) {
  .main {

    .container {
      gap: 10px;
      padding-top: 82px;
    }
  }
}
