.block {
  width: 100%;
  padding: 16px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;

  .block__title {
    width: 100%;

    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #212121;

    margin-bottom: 24px;
  }

  .block__row {
    width: 100%;
    display: flex;
    gap: 8px;

    margin-bottom: 24px;

    .block__card {
      width: calc((100% - 16px) / 3);
      height: 159px;
      border-radius: 10px;
      background-color: #005FF9;
      padding: 12px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .block__card__title {
        padding: 6px 10px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.2);

        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
      }

      .block__card__price {
        display: flex;
        align-items: flex-end;
        gap: 6px;

        .block__card__price {
          font-size: 18px;
          font-weight: 500;
          line-height: 23px;
          text-align: left;
          color: #FFFFFF;
        }

        .block__card__price__details {
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;
          text-align: left;
          color: #FFFFFF99;
        }
      }
    }
  }

  .block__text {
    width: 435px;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2E2E2E;

    margin-bottom: 16px;
  }

  .block__ratios {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .block__ratio {
      width: calc((100% - 40px) / 3);

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .block__ratio__bar {
        width: 100%;
        height: 4px;
        border-radius: 24px;
        background-color: #005FF9;
      }

      .block__ratio__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #000000;
        opacity: .4;
      }

      .block__ratio__percent {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #000000;
      }
    }
  }
}

@media (max-width: 1200px) {
  .block {

    .block__title {
      margin-bottom: 16px;
    }

    .block__row {
      flex-direction: column;
      margin-bottom: 16px;

      .block__card {
        width: 100%;

        .block__card__title {

        }

        .block__card__price {

          .block__card__price {

          }

          .block__card__price__details {

          }
        }
      }
    }

    .block__text {
      width: 100%;

      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.02em;
      text-align: left;
    }

    .block__ratios {

      .block__ratio {

        .block__ratio__bar {

        }

        .block__ratio__title {

        }

        .block__ratio__percent {

        }
      }
    }
  }
}
