$global-color-light-bg-black: #212121;
$global-color-light-bg-secondary-black: #141414;
$global-color-light-bg-white: #FFFFFF;
$global-color-light-bg-secondary-white: #F5F5F5;
$global-color-light-bg-blue: #005FF9;

$global-font-color-light-black: #212121;
$global-font-color-light-secondary-black: #141414;
$global-font-color-light-white: #FFFFFF;
$global-font-color-light-secondary-white: #F5F5F5;
$global-font-color-light-blue: #005FF9;

$global-font-size-regular-small: 14px;
$global-font-size-regular-medium: 16px;
$global-font-size-regular-large: 18px;

$global-line-height-regular-small: 17px;
$global-line-height-regular-medium: 19px;
$global-line-height-regular-large: 21px;

$global-font-weight-regular: 400;
$global-font-weight-semi-bold: 500;
$global-font-weight-bold: 700;
