* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: var(--secondary-bg-color);
}

div, h1, h2, h3, h4, h5, h6 {
  color: var(--primary-font-color);
}

span, p {
  color: var(--secondary-font-color);
}

@media (max-width: 1200px) {
  body {
    background-color: #141414;
  }
}
