@import "../_styles/index";

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 30px 15px;
}

@media only screen and (max-width: 1200px) {
  .main {
    padding: 15px 15px 0 15px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ant-select-dropdown {
  background-color: var(--secondary-bg-color) !important;
}

.ant-select-item-option-selected {
  background-color: var(--primary-bg-color) !important;
}

.ant-select-selector {
  box-shadow: none !important;
}

.ant-select-item-option-content {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: var(--primary-font-color) !important;
}
