.checkout__info__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-radius: 10px;

  .checkout__info__row {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-bg-color);
    padding: 10px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .checkout__info__row__label {
      width: 150px;
      color: var(--secondary-font-color);
      font-size: 18px;
      line-height: 21px;
    }

    .checkout__info__row__value {
      color: var(--primary-font-color);
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .checkout__info__group {

    .checkout__info__row {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      .checkout__info__row__label {
        font-size: 14px;
        line-height: 17px;
      }

      .checkout__info__row__value {

      }
    }
  }
}
