@import "app/styles/vars.scss";

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: inherit;

  .form__btn {
    width: 100%;
    background-color: inherit;

    .form__btn__text {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      color: $global-font-color-light-black;
      background-color: inherit;
    }
  }
}
