.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 24px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .container__inner {
      position: relative;
      max-width: 1200px;
      min-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .content {
        max-width: 895px;
        min-width: 895px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .main {
    padding-top: 0;

    .container {
      .container__inner {
        max-width: 100%;
        min-width: 100%;
        flex-direction: column;
        gap: 4px;

        .content {
          max-width: 100%;
          min-width: 100%;
          gap: 4px;
        }
      }
    }
  }
}
