.block {
  position: relative;
  width: 100%;
  border-radius: 16px;

  .swiper__pagination {
    position: absolute;
    top: 28px;
    left: 28px;

    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 5;

    .swiper__pagination__bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FFFFFF;
      opacity: .3;
      transition: .1s linear;
      cursor: pointer;
    }

    .swiper__pagination__bullet__active {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FFFFFF;
      transition: .1s linear;
      cursor: pointer;
    }
  }

  .slide {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 28px;
    border-radius: 16px;
    background-color: #FCC63B;
    display: flex;
    flex-direction: column;

    .swiper__pagination {
      position: absolute;
      top: 0;
      left: 0;
    }

    .slide__row {
      width: 100%;
      height: 100%;
      display: flex;

      .slide__group {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:first-child {
          margin-right: 67px;
        }

        .slide__group__team {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 8px;

          &:first-child {
            margin-bottom: 28px;
          }

          .slide__group__logo {
            width: 74px;
            height: 74px;
          }

          .slide__group__title {
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: -0.04em;
            text-align: center;
            color: #FFFFFF;
          }

          .slide__group__text {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF;
          }

          .slide__group__btn {
            width: 216px;
            padding: 11px 0;
            border-radius: 10px;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s linear;

            &:hover {
              background-color: #212121;

              .slide__group__btn__text {
                color: #FFFFFF;
              }

              .slide__group__btn__icon {
                path {
                  fill: #FFFFFF;
                }
              }
            }

            .slide__group__btn__text {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.02em;
              text-align: left;
              color: #212121;
            }

            .slide__group__btn__icon {
              width: 24px;
              height: 24px;
            }
          }
        }

        .slide__group__img {
          width: 433px;
          position: absolute;
          bottom: 0;
        }

        .slide__group__phones {
          display: flex;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .block {

    .swiper__pagination {
      top: 12px;
      left: 12px;

      .swiper__pagination__bullet {

      }

      .swiper__pagination__bullet__active {

      }
    }

    .slide {
      height: 378px;
      padding: 12px;

      .swiper__pagination {

      }

      .slide__row {
        flex-direction: column;
        margin-top: 55px;

        .slide__group {

          &:first-child {
            margin-right: 0;
          }

          .slide__group__team {

            &:first-child {
              margin-bottom: 16px;
            }

            .slide__group__logo {
              width: 60px;
              height: 60px;
            }

            .slide__group__title {
              font-size: 30px;
              font-weight: 600;
              line-height: 36px;
              letter-spacing: -0.04em;
              text-align: center;
              color: #FFFFFF;
            }

            .slide__group__text {
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              text-align: left;
              color: #FFFFFF;
            }

            .slide__group__btn {
              width: 193px;
              padding: 10px 0;
              border-radius: 10px;
              background-color: #FFFFFF;
              display: flex;
              justify-content: center;
              align-items: center;

              .slide__group__btn__text {

              }

              .slide__group__btn__icon {

              }
            }
          }

          .slide__group__img {
            width: calc(100% - 24px);
            bottom: -23px;
          }
        }
      }
    }
  }
}
