.block {
  width: 100%;
  padding: 16px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: #005FF9;

  .block__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .block__header__text {
      width: 580px;

      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #FFFFFF;
    }

    .block__header__btn {
      width: fit-content;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #FF6E30;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        background-color: #ff8753;
      }

      .block__header__btn__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
      }
    }
  }

  .block__advantages {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    z-index: 3;

    .block__advantage {
      position: relative;
      height: 70px;
      padding: 7px 18px 7px 6px;
      border-radius: 8px;
      background-color: #FFFFFF;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:nth-child(1) {
        min-width: 277px;
        max-width: 277px;

        .block__advantage__group__img {
          position: absolute;
          width: 52px;
          height: 60px;
          top: 0;
          left: 8.3px;
        }
      }

      &:nth-child(2) {
        min-width: 243px;
        max-width: 243px;

        .block__advantage__group__img {
          position: absolute;
          width: 53px;
          height: 60px;
          bottom: 0;
          left: 0;
          border-bottom-left-radius: 7px;
        }
      }

      &:nth-child(3) {
        min-width: 236px;
        max-width: 236px;

        .block__advantage__group__img {
          position: absolute;
          width: 60px;
          height: 68px;
          bottom: 0;
          left: 3px;
        }
      }

      &:nth-child(4) {
        min-width: 195px;
        max-width: 195px;

        .block__advantage__group__img {
          position: absolute;
          width: 65px;
          height: 65px;
          bottom: 0;
          left: 0;
        }
      }

      .block__advantage__group {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .block__advantage__group__upper__text {
          width: fit-content;

          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #7D7C7C;

          white-space: nowrap;
          margin-bottom: 5.83px;
        }

        .block__advantage__group__lower__text {
          width: fit-content;
          font-size: 18px;
          font-weight: 600;
          line-height: 19px;
          text-align: left;
          color: #302E2E;

          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .block {

    .block__header {
      flex-direction: column;
      align-items: flex-start;

      .block__header__text {
        width: 100%;

        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.04em;
        text-align: left;

        margin-bottom: 16px;
      }

      .block__header__btn {
        padding: 12px 16px;

        .block__header__btn__text {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.02em;
          text-align: left;
        }
      }
    }

    .block__advantages {

      .block__advantage {

        &:nth-child(1) {

          .block__advantage__group__img {

          }
        }

        &:nth-child(2) {

          .block__advantage__group__img {

          }
        }

        &:nth-child(3) {

          .block__advantage__group__img {

          }
        }

        &:nth-child(4) {

          .block__advantage__group__img {

          }
        }

        .block__advantage__group {

          .block__advantage__group__upper__text {

          }

          .block__advantage__group__lower__text {

          }
        }
      }
    }
  }
}
