.footer {
  width: 100%;
  min-height: 367px;
  display: flex;
  justify-content: center;
  padding: 40px 20px 46px 20px;
  background-color: var(--primary-font-color);
  margin-top: 16px;

  .container {
    max-width: 1200px;
    min-width: 1200px;
    width: 100%;
    display: flex;
    gap: 20px;

    .logo {
      width: 285px;
      padding-top: 8px;

      .logo__small {
        display: none;
      }
    }

    .credentials__block {
      width: 895px;
      display: flex;
      flex-direction: column;

      .credentials__title {
        font-size: 46px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: var(--accent-font-color);
        margin-bottom: 24px;
      }

      .credentials__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: var(--secondary-font-color);
        margin-bottom: 40px;
      }

      .credentials {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .credentials__column {
          display: flex;
          flex-direction: column;

          .credentials__column__title {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 20px;

            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            text-align: left;
            color: var(--accent-font-color);

            .credentials__column__title__dot {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: var(--accent-font-color);
            }
          }

          .credentials__column__list {
            display: flex;
            flex-direction: column;

            .credentials__column__list__item {
              padding: 6px 0;
              list-style: none;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: -0.02em;
              text-align: left;
              color: var(--secondary-font-color);
              cursor: pointer;
              transition: 0.2s linear;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    margin-top: 0;
    padding: 12px;
    background-color: transparent;

    .container {
      max-width: 100%;
      min-width: 100%;
      flex-direction: column;

      .logo {
        width: 100%;

        .logo__default {
          display: none;
        }

        .logo__small {
          display: block;
        }
      }

      .credentials__block {
        width: 100%;

        .credentials__title {
          font-size: 36px;
          line-height: 43px;
          margin-bottom: 16px;
        }

        .credentials__desc {
          margin-bottom: 18px;
        }

        .credentials {
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 30px;
        }
      }
    }
  }
}
