.main {
  width: 100%;
  height: calc(100vh - 40px - 60px - 20px - 48px - 40px - 48px);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
      font-size: 35px;
      font-weight: 500;
    }
  }
}
