.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .products__category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary-bg-color);

    .products__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      row-gap: 30px;
    }
  }
}
